//- Icons
mixin icon(name)
	-var cssClass = attributes.class ? "fa fa-" + name + " " + attributes.class : "fa fa-" + name;
	span(class=cssClass,aria-hidden="true")
	
mixin icon-primary(name)
	span.fa.text-primary(class="fa-#{name}",aria-hidden="true")

mixin icon-secondary(name)
	span.fa.text-secondary(class="fa-#{name}",aria-hidden="true")

mixin icon-info(name)
	span.fa.text-info(class="fa-#{name}",aria-hidden="true")
	
mixin icon-warning(name)
	span.fa.text-warning(class="fa-#{name}",aria-hidden="true")
	
mixin icon-danger(name)
	span.fa.text-danger(class="fa-#{name}",aria-hidden="true")
	
mixin icon-success(name)
	span.fa.text-success(class="fa-#{name}",aria-hidden="true")
	
mixin icon-circle(name)
	span.fa-stack(class=attributes.class,aria-hidden="true")
		span(class="fa fa-circle fa-stack-2x")
		span(class="fa fa-#{name} fa-stack-1x fa-inverse")